// globals.scss

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*
  CAUSES OVERFLOW:
  */
  /* min-width: 100vw;
  min-height: 100vh; */

/*  background-color: #282c34;
  color: white;*/
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid {
  flex-grow: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.card {
  transition: transform 0.2s;
}

.contact-logo {
  max-width: 50px;
  width: 100%;
  max-height: auto;
  margin: 10px;
}

.card:hover {
  background-color: rgb(233, 236, 239) !important;
  transform: scale(1.05);
}

.logo {
  max-width: 100px;
  width: 100%;
  max-height: auto;
  margin: 10px;
}

#about,
#projects,
#skills,
#certifications,
#resume {
  min-height: 40vh;
}

#about,
#skills,
#resume {
  /* background-color: #E9ECEF; */
  background-color: rgb(233, 236, 239);
}

@media (max-width: 576px) {
  .custom-font-size {
    font-size: 14px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .custom-font-size {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .custom-font-size {
    font-size: 20px;
  }
}