$background-dark: #121212;
$background-darker: #1C1C1C;
$background-medium-dark: #2E2E2E;
$background-gray-dark: #333333;
$background-gray: #242424;

$text-white: #FFFFFF;
$text-light-gray: #E0E0E0;
$text-medium-light-gray: #CCCCCC;
$text-darker-gray: #B3B3B3;
$text-gray: #AAAAAA;
$text-balanced-light-gray: #BBBBBB;
$text-very-light-gray: #F1F1F1;
