.App {
  text-align: center;
}

.logo {
  max-width: 10vw;
  max-height: auto;
}

#about, #projects, #skills, #certifications, #resume {
  min-height: 40vh;
}

#about, #skills, #resume {
  /* background-color: #E9ECEF; */
  background-color: rgb(233, 236, 239);
}

  /* Default font size for all screen sizes */

  /* Custom font size for small screens (up to 576px) */
  @media (max-width: 576px) {
    .custom-font-size {
      font-size: 14px;
    }
  }

  /* Custom font size for medium screens (between 577px and 768px) */
  @media (min-width: 577px) and (max-width: 768px) {
    .custom-font-size {
      font-size: 18px;
    }
  }

  /* Custom font size for large screens (769px and above) */
  @media (min-width: 769px) {
    .custom-font-size {
      font-size: 20px;
    }
  }