.App {
  text-align: center;
}

/* .html, body {
  margin: 0;
  width: 100vw;
  height: 100vh;
} */

.side {

}
.section-title {
  /* font-size: 30px; */
}

#about, #projects, #skills, #certifications, #resume, #contact {
  min-height: 40vh;
}

#main {
  /* margin: 0px;
  padding: 0px; */
}

#about, #skills, #resume {
  /* background-color: #E9ECEF; */
  background-color: rgb(233, 236, 239);
}
