$background-dark: #121212;
$background-darker: #1C1C1C;
$background-medium-dark: #2E2E2E;
$background-gray-dark: #333333;
$background-gray: #242424;

$text-white: #FFFFFF;
$text-light-gray: #E0E0E0;
$text-medium-light-gray: #CCCCCC;
$text-darker-gray: #B3B3B3;
$text-gray: #AAAAAA;
$text-balanced-light-gray: #BBBBBB;
$text-very-light-gray: #F1F1F1;

.main-page {
  
}

.certification-card {

}

.image-container {
  
}

.proj

.App {
  text-align: center;
}

.profile-img {
  max-width: 75%;
  height: auto;
}

.card {
  transition: transform 0.2s;
}

.contact-logo {
  max-width: 50px;
  width: 100%;
  max-height: auto;
  margin: 10px;
}

.card:hover {
  background-color: rgb(233, 236, 239) !important;
  transform: scale(1.05);
}

.nav-item {
  display: inline-block;
  position: relative;
}

.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #282c34;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  max-width: 100px;
  width: 100%;
  max-height: auto;
  margin: 10px;
}

#about,
#projects,
#skills,
#certifications,
#resume {
  min-height: 40vh;
}

#about,
#skills,
#resume {
  /* background-color: #E9ECEF; */
  background-color: rgb(233, 236, 239);
}

@media (max-width: 576px) {
  .custom-font-size {
    font-size: 14px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .custom-font-size {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  .custom-font-size {
    font-size: 20px;
  }
}